.abicsAccessibilityPopover * {
  border: 0 0 0 1px solid rgba(0, 57, 133, 0.863) !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background-color: whitesmoke !important;
  color: rgba(0, 57, 133, 0.863) !important;


}

.abicsAccessibilityPopover {
  border-radius: 10px !important;
}

.abicsAccessibilityPopover .sapMPopoverWrapper {
  border-radius: 10px !important;
}

.abicsAccessibilityPopover .sapMPanelContent:not(.sapMPanelBGTransparent) {
  border-bottom: 0 !important;
}

.abicsAccessibilityPopover .sapMPanel.resetAllPanel .sapMTB.sapMTBStandard {
  border: 0 !important;
}

.abicsAccessibilityPopover .sapMPanelContent .sapMBtnInner .sapUiIcon {
  border: 0 !important;
  border-radius: 7px !important;

}

.abicsAccessibilityPopover .sapMPanelContent .sapMBtnInner {
  border: 1px solid rgba(0, 57, 133, 0.863) !important;
  border-radius: 7px !important;
}


.abicsAccessibilityPopover .sapMPanelContent .sapMSlt {
  border: 1px solid rgba(0, 57, 133, 0.863) !important;
  border-radius: 7px !important;
}

.abicsAccessibilityPopover .sapMPanel .sapMTB.sapMPanelHeaderTB {
  background-color: whitesmoke !important;
  color: rgba(0, 57, 133, 0.863) !important;
}

.abicsAccessibilityPopover .sapMPanel .sapMTB.sapMPanelHeaderTB .sapMTitle,
.abicsAccessibilityPopover .sapMPanel .sapMTB.sapMPanelHeaderTB .sapUiIcon {
  color: rgba(0, 57, 133, 0.863) !important;
  background-color: whitesmoke !important;

}

.abicsAccessibilityPopover .sapMPanelContent {
  padding: 3px !important;
}

.abicsAccessibilityPopover .sapMSliderProgress,
.abicsAccessibilityPopover .sapMSliderInner {
  background-color: rgba(0, 57, 133, 0.863) !important;
}

.abicsAccessibilityPopover .sapMSwtLabel {
  background-color: rgba(0, 57, 133, 0.863) !important;
  color: whitesmoke !important;
  border-radius: 7px !important;
}

.abicsAccessibilityPopover .sapMSwt {
  border-radius: 7px !important;
  border: 0 !important;
}

.abicsAccessibilityPopover .sapMSwtInner .sapMSwtHandle {
  background-color: rgba(0, 57, 133, 0.863) !important;
  border-radius: 7px !important;
  border: 0 !important;
}

.abicsAccessibilityPopover .sapMSwtText {
  border-radius: 7px !important;
  border: 0 !important;
}

.abicsAccessibilityPopover .sapMPopoverHeader .sapMBarContainer *,
.abicsAccessibilityPopover .sapMPopoverHeader .sapMBarContainer {
  background-color: rgb(39, 39, 134) !important;
  color: whitesmoke !important;

}

.abicsAccessibilityPopover .sapMPopoverHeader .sapMBtnIcon {
  color: whitesmoke !important;
}